<div>
  <md-subheader>Lovelace playground</md-subheader>
  <md-list>
    <md-item ng-repeat="message in chatHistory">
      <md-item-content>
        <div class="md-tile-left">
          <img ng-src="{{message.user.picture}}" class="face">
        </div>
        <div class="md-tile-content">
          <h3>{{message.user.name}}</h3>
          <h4>{{message.timestamp}}</h4>
          <p>{{message.message}}</p>
        </div>
      </md-item-content>
    </md-item>
  </md-list>
  <br>
  <md-input-container>
    <label>Biography</label>
    <textarea ng-model="message" columns="1" md-maxlength="150"></textarea>
  </md-input-container>
  <br>
  <md-button ng-click="sendMessage()">Submit!</md-button>
</div>
